* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f0f0;
}
/* Header Styles */
header {
    width: 100%;
    background-color: #7b7b7b;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    position: relative;
    z-index: 1000; 
}

/* Navigation Bar Styles */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(236, 234, 234);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0.9, 0, 0, 1.0); 
}

/* Logo Styles */
.logo h1 {
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Links Styles */
.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin-left: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.nav-links ul li a:hover {
    color: #585a5b;
}

/* Menu Icon Styles */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
  

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links ul {
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
    }

    .nav-links ul.active {
        display: flex;
        transform: translateX(0);
    }

    .nav-links ul li {
        margin: 15px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
   
}


#products h1{
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

.products-section {
    text-align: center;
    padding: 40px 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product {
    background: rgb(238, 231, 232);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
}

.product img {
    width: 100%;
    height: 60vh;
}

.product h3 {
    margin: 15px 0 10px;
}

.product p {
    color: #555;
    margin: 0 0 15px;
}

.product span {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
    display: inline-block;
}

.product button {
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #595959;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #f4f1f1;
    padding: 1rem;
    text-align: center;
    color: #000000;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.socials .fa {
  padding: 12px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;
}

.socials .fa:hover {
    opacity: 0.7;
}

.socials .fa-facebook {
  background: #3B5998;
  color: white;
}

.socials .fa-twitter {
  background: #55ACEE;
  color: white;
}

.socials .fa-instagram {
  background: #125688;
  color: white;
}


/* Responsive Styles */
@media (min-width: 425px) {
   
    .products-container {
        justify-content: space-between;
    }
    .product {
        flex: 0 0 calc(100% ); 
    }
}

@media (min-width: 1024px) {
    .product {
        flex: 0 0 calc(33.33% - 20px); 
    }
}
